/*
This file contains the SCSS variables used on the page.
@author Josué Cubero Sánchez.
Palette used: http://paletton.com/#uid=14e0u0kllllaFw0g0qFqFg0w0aF.
*/

$nav-footer-background-color: #13073a;
$nav-footer-links-color: #f2f2f2;
$nav-link-hover-color: #615192;
$nav-background-hover-color: #ddd;
$nav-link-active-background-color: #261758;
$nav-link-active-font-color: #fff;

$main-background-color: #887caf;
$main-borders-color: #000;
$main-section-padd-top: 10vh;
$main-section-padd-bottom: 100px;
