// Contact styles

#contact {
  height: 100vh;
  padding-top: $main-section-padd-top;
  padding-bottom: $main-section-padd-bottom;
  background-color: $main-background-color;
}

#map {
  height: 70vh;
  width: 90%;
}
